@font-face{font-family:Poppins-Regular;src:url(../fonts/poppins/Poppins-Regular.ttf)}
@font-face{font-family:Poppins-Medium;src:url(../fonts/poppins/Poppins-Medium.ttf)}
@font-face{font-family:Poppins-Bold;src:url(../fonts/poppins/Poppins-Bold.ttf)}
@font-face{font-family:Poppins-SemiBold;src:url(../fonts/poppins/Poppins-SemiBold.ttf)}
*{
	margin:0;
	padding:0;
	box-sizing:border-box
}
body,html{
	height:100%;
	font-family:Poppins-Regular,sans-serif
}
a{
	font-family:Poppins-Regular;
	font-size:14px;
	line-height:1.7;
	color:#666;margin:0;
	transition:all .4s;-webkit-transition:all .4s;
	-o-transition:all .4s;-moz-transition:all .4s
}
a:focus{
	outline:none!important
}
a:hover{text-decoration:none;color:#6a7dfe;
}
h1,h2,h3,h4,h5,h6{
		margin:0
	}
p{
	font-family:Poppins-Regular;
	font-size:14px;
	line-height:1.7;
	color:#666;margin:0
	}
ul,li{margin:0;list-style-type:none}
input{outline:none;border:none}textarea{outline:none;border:none}
textarea:focus,input:focus{border-color:transparent!important}
input:focus::-webkit-input-placeholder{color:transparent}
input:focus:-moz-placeholder{color:transparent}
input:focus::-moz-placeholder{color:transparent}
input:focus:-ms-input-placeholder{color:transparent}
textarea:focus::-webkit-input-placeholder{color:transparent}
textarea:focus:-moz-placeholder{color:transparent}
textarea:focus::-moz-placeholder{color:transparent}
textarea:focus:-ms-input-placeholder{color:transparent}
input::-webkit-input-placeholder{color:#adadad}
input:-moz-placeholder{color:#adadad}
input::-moz-placeholder{color:#adadad}
input:-ms-input-placeholder{color:#adadad}
textarea::-webkit-input-placeholder{color:#adadad}
textarea:-moz-placeholder{color:#adadad}
textarea::-moz-placeholder{color:#adadad}
textarea:-ms-input-placeholder{color:#adadad}
button{outline:none!important;border:none;background:0 0}
button:hover{cursor:pointer}
iframe{border:none!important}
.txt1{
	font-family:Poppins-Regular;
	font-size:13px;
	color:#666;
	line-height:1.5;
}
.txt2{
	font-family:Poppins-Regular;
	font-size:13px;
	color:#333;
	line-height:1.5;
}
.limiter{
	width:100%;
	margin:0 auto;
}
.container-login100{
	width:100%;
	min-height:100vh;
	display:-webkit-box;
	display:-webkit-flex;
	display:-moz-box;
	display:-ms-flexbox;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	padding:15px;
	background:#f2f2f2;
}
.wrap-login100{
	width:390px;
	background:#fff;
	border-radius:10px;
	overflow:hidden;
	padding:77px 55px 33px;
	box-shadow:0 5px 10px 0 rgba(0,0,0,.1);
	-moz-box-shadow:0 5px 10px 0 rgba(0,0,0,.1);
	-webkit-box-shadow:0 5px 10px 0 rgba(0,0,0,.1);
	-o-box-shadow:0 5px 10px 0 rgba(0,0,0,.1);
	-ms-box-shadow:0 5px 10px 0 rgba(0,0,0,.1)
}
.login100-form{
	width:100%
}
.login100-form-title{
	display:block;
	font-family:Poppins-Bold;
	font-size:30px;
	color:#333;
	line-height:1.2;
	text-align:center
}
.login100-form-title i{
	font-size:60px
}
.wrap-input100{
	width:100%;
	position:relative;
	border-bottom:2px solid #adadad;
	margin-bottom:37px
}
.input100{
	font-family:Poppins-Regular;
	font-size:15px;
	color:#555;
	line-height:1.2;
	display:block;
	width:100%;
	height:45px;
	background:0 0;
	padding:0 5px
}
.focus-input100{
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	top:0;
	left:0;
	pointer-events:none
}
.focus-input100::before{
	content:"";
	display:block;
	position:absolute;
	bottom:-2px;left:0;
	width:0;
	height:2px;
	-webkit-transition:all .4s;
	-o-transition:all .4s;
	-moz-transition:all .4s;
	transition:all .4s;
	background:#6a7dfe;
	}
.focus-input100::after{
	font-family:Poppins-Regular;
	font-size:15px;
	color:#999;
	line-height:1.2;
	content:attr(data-placeholder);
	display:block;
	width:100%;
	position:absolute;
	top:16px;
	left:0;
	padding-left:5px;
	-webkit-transition:all .4s;
	-o-transition:all .4s;
	-moz-transition:all .4s;
	transition:all .4s
}
.input100:focus+.focus-input100::after{
	top:-15px
}
.input100:focus+.focus-input100::before{
	width:100%}
.has-val.input100+.focus-input100::after{
	top:-15px
}
.has-val.input100+.focus-input100::before{
	width:100%
}

.btn-show-pass{font-size:15px;color:#999;
	display:-webkit-box;
	display:-webkit-flex;
	display:-moz-box;
	display:-ms-flexbox;
	display:flex;
	align-items:center;
	position:absolute;
	height:100%;
	top:0;
	right:0;
	padding-right:5px;
	cursor:pointer;
	-webkit-transition:all .4s;
	-o-transition:all .4s;
	-moz-transition:all .4s;
	transition:all .4s
}
.btn-show-pass:hover{
	color:#6a7dfe;
}
.btn-show-pass.active{
	color:#6a7dfe;
}
.container-login100-form-btn{
	display:-webkit-box;
	display:-webkit-flex;
	display:-moz-box;
	display:-ms-flexbox;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	padding-top:13px
}
.wrap-login100-form-btn{
	width:100%;
	display:block;
	position:relative;
	z-index:1;
	border-radius:25px;
	overflow:hidden;
	margin:0 auto}
.login100-form-bgbtn{
	position:absolute;
	z-index:-1;
	width:300%;
	height:100%;
	background:#0F6674;
	top:0;
	left:-100%;
	-webkit-transition:all .4s;
	-o-transition:all .4s;
	-moz-transition:all .4s;
	transition:all .4s}
.login100-form-btn{
	font-family:Poppins-Medium;
	font-size:15px;
	color:#fff;
	line-height:1.2;
	text-transform:uppercase;
	display:-webkit-box;
	display:-webkit-flex;
	display:-moz-box;
	display:-ms-flexbox;
	display:flex;
	justify-content:center;
	align-items:center;
	padding:0 20px;
	width:100%;
	height:50px
	}
.wrap-login100-form-btn:hover .login100-form-bgbtn{
	left:0
}
@media(max-width:576px){
	.wrap-login100{
		padding:77px 15px 33px
	}
}

@media(max-width:992px){
	.alert-validate::before{visibility:visible;opacity:1}
}

/* POP UP   */ 
.modal-window {
    position: fixed;
    background-color: rgba(200, 200, 200, 0.75);
    top: -20px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .modal-window:target {
    opacity: 1;
    pointer-events: auto;
  }
  
  .modal-window>div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 2rem;
    /* background: #000;
    border-radius: 25px;
    box-shadow:  5px 5px 5px rgba(0, 0, 0,0.3);
    color: #2F2A33; */
    padding: 30px;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  
  .modal-window header {
    font-weight: bold;
  }
  
  .modal-close {
    color: #2F2A33;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    right: -10px;
    text-align: center;
    top: 0;
    width: 100px;
    text-decoration: none;
  }
  
  .modal-close:hover {
    color: #3D550C;
  }
  
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
  .modal-window .btn-outline-primary{
      background-color: #0077b5;
      color: #fff;
      margin-left: 45%;
  }

  .modal-window .card-body ul li{
      padding: 5px;
  }
  .modal-window .card-body p{
    padding: 5px;
    text-align: justify;
    color: #000;
}
  /* pop up end */